<html>

<head>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="/css/bike_list.css">
    <link rel="stylesheet" type="text/css" href="/css/bike_card.css">
    <link rel="stylesheet" type="text/css" href="/css/filter_bar.css">

    <script th:src="@{/scripts/header.js}"></script>
    <script th:src="@{/scripts/bike.js}"></script>

    <style>
        html {
            overflow: scroll;
            overflow-x: hidden;
        }

        ::-webkit-scrollbar {
            width: 0;
            background: transparent;
        }
    </style>
</head>

<body>
    <div th:replace="~{fragments/header :: header}">
    </div>

    <div th:replace="~{fragments/filter_bar :: filter-bar}">
    </div>

    <h2 class="title-page">Our Available Bikes</h2>
    <div class="bikes-content">
        <div class="grid-container">
            <div th:each="bike : ${bikes}" class="bike-card">
                <div th:replace="~{fragments/bike_card :: card(1)}">
                </div>
            </div>
        </div>
    </div>


    <!-- <h2>Upload Image</h2>
    <form th:action="@{/upload/661579d94d70f376a5a4ad4a}" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept="image/*">
        <button type="submit">Upload</button>
    </form> -->
</body>

</html>