<html>

<head>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="/css/bike_list.css">
    <link rel="stylesheet" type="text/css" href="/css/bike_card.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>

    <script th:src="@{/scripts/bike.js}"></script>

</head>
<div th:replace="~{fragments/header :: header}">
</div>

<h2 class="title-page">Your Bikes</h2>
<div class="bikes-content">
    <div class="grid-container">
        <div th:each="bike : ${bikes}" class="bike-card">
            <div th:replace="~{fragments/bike_card :: card(0)}">
            </div>
        </div>
    </div>
</div>

<a th:href="@{'/bike/' + ${userId}}">
    <img class="plus" th:src="@{/plus.png}" />
</a>

</html>

<style>
    .plus {
        position: fixed;
        bottom: 0;
        right: 0;
        width: 56px;
        margin: 40px;
        cursor: pointer;
    }

    .plus:hover {
        width: 64px;
    }
</style>