<html>

    <head>
        <link href='https://fonts.googleapis.com/css?family=Roboto'
            rel='stylesheet'>
        <link rel="stylesheet" type="text/css" href="/css/header.css">
        <link rel="stylesheet" type="text/css" href="/css/utils.css">

        <script th:src="@{/scripts/header.js}"></script>
        <script th:src="@{/scripts/bike.js}"></script>
        <script th:src="@{/scripts/review.js}"></script>
    </head>

    <body>
        <div th:replace="~{fragments/header :: header}">
        </div>
        <div class="selected-bike-container">
            <h2 th:text="${bike.name}"></h2>
            <img class="image" th:if="${bike.imageData != null}"
                th:src="'data:image/jpeg;base64,' + ${bike.imageData}" />
            <img class="image" th:if="${bike.imageData == null}"
                th:src="@{/race-bike.jpg}" />

            <div th:if="${isOverview == 1}" style="font-weight: bold;">Contact:
                <span style="font-weight: 100;"
                    th:text="${phone}"></span></div>

            <form class="details" id="form">
                <div
                    th:if="${bike.startRentingDate != null || isOverview == 0}">
                    <div class="label">From:</div>
                    <input id="startRentingDate" type="date"
                        th:if="${bike.startRentingDate != null || isOverview == 0}"
                        th:value="${bike.startRentingDate}"
                        th:disabled="${isOverview == 1}" />
                </div>
                <div th:if="${bike.endRentingDate != null || isOverview == 0}">
                    <div class="label">To:</div>
                    <input id="endRentingDate" type="date"
                        th:if="${bike.endRentingDate != null || isOverview == 0}"
                        th:value="${bike.endRentingDate}"
                        th:disabled="${isOverview == 1}" />
                </div>
                <div>
                    <div th:if="${bike.wheelSize != null || isOverview == 0}"
                        class="label">Wheel
                        Size:</div>
                    <input id="wheelSize" type="number"
                        th:if="${bike.wheelSize != null || isOverview == 0}"
                        th:value="${bike.wheelSize}"
                        th:disabled="${isOverview == 1}" />
                </div>
                <div>
                    <div
                        th:if="${bike.numberOfGears != null || isOverview == 0}"
                        class="label">
                        Gears:</div>
                    <input id="numberOfGears" type="number"
                        th:if="${bike.numberOfGears != null || isOverview == 0}"
                        th:value="${bike.numberOfGears}"
                        th:disabled="${isOverview == 1}" />
                </div>
                <div>
                    <div th:if="${bike.brand != null || isOverview == 0}"
                        class="label">Brand:</div>
                    <input id="brand" type="text"
                        th:if="${bike.brand != null || isOverview == 0}"
                        th:value="${bike.brand}"
                        th:disabled="${isOverview == 1}" />
                </div>
                <div>
                    <div th:if="${bike.color != null || isOverview == 0}"
                        class="label">Color:</div>
                    <input id="color" type="text"
                        th:if="${bike.color != null || isOverview == 0}"
                        th:value="${bike.color}"
                        th:disabled="${isOverview == 1}" />
                </div>
                <div>
                    <div th:if="${bike.type != null || isOverview == 0}"
                        class="label">Type:</div>
                    <input id="type" type="text"
                        th:if="${bike.type != null || isOverview == 0}"
                        th:value="${bike.type}"
                        th:disabled="${isOverview == 1}" />
                </div>
                <div>
                    <div th:if="${bike.suitability != null || isOverview == 0}"
                        class="label">Usage:
                    </div>
                    <input id="suitability" type="text"
                        th:if="${bike.suitability != null || isOverview == 0}"
                        th:value="${bike.suitability}"
                        th:disabled="${isOverview == 1}" />
                </div>
                <div class="rating">
                    Rating <span th:text="${averageScore}"></span>
                </div>
            </form>
            <div id="success-message" th:if="${isOverview == 0}"
                class="success-message">
                Your bike was successfully updated!
            </div>
            <div id="delete-message" th:if="${isOverview == 0}"
                class="success-message">
                Your bike was successfully deleted!
            </div>
            <div class="buttons">
                <button class="button left"
                    th:if="${isOverview == 1 and bike.userId != userId}"
                    th:data-startDate="${bike.startRentingDate}"
                    th:data-startEnd="${bike.endRentingDate}"
                    th:data-ownerId="${bike.userId}"
                    th:data-bikeId="${bike.id}"
                    th:onclick="sendRentalRequest(this.getAttribute('data-startDate'), this.getAttribute('data-startEnd'), this.getAttribute('data-ownerId'), this.getAttribute('data-bikeId'))">Rent
                    bike</button>
                <button class="button" th:data-bikeId="${bike.id}"
                    th:onclick="goToReviews(this.getAttribute('data-bikeId'))">See
                    Reviews</button>
                <button class="button left" th:if="${isOverview == 0}"
                    th:data-bikeId="${bike.id}"
                    th:onclick="saveBike(this.getAttribute('data-bikeId'))">Save
                    Changes</button>
                <button class="button left delete" th:if="${isOverview == 0}"
                    th:data-bikeId="${bike.id}"
                    th:onclick="deleteBike(this.getAttribute('data-bikeId'))">Delete</button>
                <div id="success-request" class="success-request">
                    The bike was rented successfully!
                </div>
            </div>

        </div>

    </body>

</html>

<style>
    .rating {
        color: #2f3d4b;
        font-weight: bolder;
        width: 100%;
        text-align: center;
        margin-left: 90px;
        margin-top: 10px;
        padding-left: 20px;
    }

    .rating div {
        font-weight: bolder;
    }

    .rating span {
        font-weight: lighter;
    }

    .delete {
        background-color: #c0afcc;
        border-color: #c0afcc;
    }

    .details div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    html {
        overflow: scroll;
        overflow-x: hidden;
    }

    ::-webkit-scrollbar {
        width: 0;
        background: transparent;
    }
</style>