.card {
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2eff4;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    color: #2f3d4b;
    margin: 20px;
    cursor: pointer;
    text-decoration: none;
    padding-top: 30px;
    padding-bottom: 30px;
}

#rented-0{
    background-color: #D9CFE0;
}

#rented-1{
    background-color: #D8EBFE;
}

.image {
    width: 270px;
    height: 180px;
    border-radius: 20px;
}

.characteristic,
.characteristic-title{
    display: flex;
    width: 100%;
    margin-left: 60px;
}

.title {
    display: flex;
    width: 100%;
    padding-top: 20px;
    margin-left: 60px;
    margin-top: 20px;
    font-size: large;
    font-weight: bolder;
}

.characteristic-title {
    margin-top: 10px;
    font-size: medium;
    font-weight: 600;
}


.text-area{
    margin-top: 5px;
}