.button {
    outline: none;
    background-color: #34263d;
    color: white;
    border-radius: 10px;
    width: fit-content;
    padding: 12px 20px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
    font-size: small;
    margin-right: 20px;
}

.button:hover {
    opacity: 70%;
}

.success-approval-decline {
    color: green;
    display: none;
    width: 100%;
    margin-top: 10px;
    margin-left: 60px;
}

.success-cancel {
    color: green;
    display: none;
    width: 100%;
    margin-top: 10px;
    margin-left: 60px;
}