<html>

<head>
</head>

<body>
    <div th:fragment="filter-bar" class="filter-bar">
        <form action="#" th:action="@{ '/' + ${userId} + '/filter'}" method="get">
            <input type="number" name="wheelSize" placeholder="Wheel Size" />
            <input type="number" name="numberOfGears" placeholder="Number Of Gears" />
            <input type="date" name="startRentingDate" placeholder="Start Renting Date" />
            <input type="date" name="endRentingDate" placeholder="End Renting Date" />
            <select name="brand">
                <option value="">All Brands</option>
                <option value="category1">Union</option>
                <option value="category2">Gazelle</option>
                <option value="category2">Elops</option>
            </select>

            <select name="type">
                <option value="">All Types</option>
                <option value="category1">Electric</option>
                <option value="category2">Regular</option>
            </select>

            <select name="suitability">
                <option value="">All Usages</option>
                <option value="category1">City</option>
                <option value="category2">Mountain</option>
            </select>
            <button type="submit" class="button">Filter</button>
            <button class="button">Add Notification</button>
        </form>

    </div>
</body>

</html>