<html>

<head>
    <meta charset="UTF-8">
    <title>header</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>

</head>

<body>
    <div th:fragment="header" class="header">
        <a class="image-container" th:href="@{'/' + ${userId} + '/bikes'}">
            <img class="logo-image" th:src="@{/PedalPals.png}" /> <span class="app-name">Pedal Pals</span>
        </a>

        <div class="nav">
            <div>My Bikes</div>
            <div>Notifications</div>
        </div>

    </div>
</body>

</html>